    body {
        background-color: #d8a9ff;
        font-family: 'Ubuntu';
    }

    .navbar-nav {
        margin-left: auto;
    }

    .btn {
        margin: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .row {
        margin-top: 50px;
    }

    .about {
        padding: 10%;
    }

    .container {
        border: 8px solid #b74cff;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    .heading {
        padding: 3%;
        font-size: 17px;
        text-align: center;
    }
